* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ExtraLight 200', sans-serif;
    color: #000;
}

body {
    background-color: #f5f5f5;
}

/* Navbar
----------------- */

.main-navbar {
    width: 100%;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 100px;
    align-items: center;
}

.logotype {
    display: flex;
    align-items: center;
    height: 70%;
    background-color: transparent;
}

.logotype img {
    height: 80%;
    background-color: transparent;
}

.right-imgs {
    display: flex;
    height: 80%;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.contact, .SSL {
    height: 80%;
    background-color: transparent;
}

.SSL {
    margin-right: 100px;
    align-items: center;
}

.mxflag {
    height: 50%;
    border-radius: 10px;
    background-color: transparent;
}

/* Index Section
----------------- */

#index-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    background-color: #ffffff;
    border-style: dashed;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

/* Carousel
----------------- */

#carousel {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#carousel img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

#carousel img:first-child {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#thumbnail-container {
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.thumbnail {
    height: 90px;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
}

.thumbnail.selected {
    height: 100px;
}

/* Text Container
----------------- */

.text-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
    width: 50%;
}

.list-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.icon-list {
    display: flex;
    align-items: center;
}

.text-container li {
    text-align: left;
    list-style: none;
    align-items: center;
    margin-left: 10px;
}

.text-container i {
    transform: rotate(270deg);
    color: green;
    font-size: 30px;
    background-color: transparent;
}

/* Steps Containers
----------------- */
.main-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    gap: 20px;
}

.right-column, .left-column {
    width: 50%;
}

/* Step 1 Section
----------------- */

#step-1 {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
}

#step-1 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Header */

#step-1 .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#step-1 .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#step-1 .info h2 {
    color: #c91f3f;
}

/* Rotating Effect Discount */

@keyframes rotating-border {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#step-1 .discount {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #c91f3f;
    border-radius: 100px;
    padding: 20px;
    align-items: center;
    position: relative;
}

#step-1 .discount::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    padding: 0;
    width: 80%;
    height: 80%;
    border-radius: 100px;
    border: 3px dashed white;
    animation: rotating-border 10s linear infinite;
}

#step-1 .discount h1 {
    font-size: 14px;
    color: #ffffff;
}

.main-container h2 {
    font-size: 18px;
}

.separator {
    height: 1px;
    background-color: #ccc;
}

/* Prices Form */

.prices-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.option-price .description {
    width: 50%;
}

.prices-container .option-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}

.option-price .fa-circle-check {
    display: none;
}

.option-price.selected .fa-circle {
    display: none;
}

.option-price.selected .fa-circle-check {
    display: block;
}

.prices-container .option-price .description {
    text-align: left;
}

/* Step 2 Section
----------------- */

#step-2 {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
}

#step-2 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#step-2 .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* Prices Form */

.payment-method {
    display: flex;
    flex-direction: column;
}

#paypal img {
    height: 30px;
    margin-left: 20px;
}

#credit-cards  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side {
    display: flex;
}

#credit-cards img {
    width: 40%;
}

.payment-method .option-payment {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option-payment .fa-circle-check {
    display: none;
}

.option-payment.selected .fa-circle {
    display: none;
}

.option-payment.selected .fa-circle-check {
    display: block;
}

.payment-method .option-payment .description {
    text-align: left;
    margin-left: 20px;
}

/* Step 3 Section
----------------- */

#step-3 {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
}

#step-3 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#step-3 .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* Register User Form */

#user-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


#user-register input {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: transparent;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.phone-selection {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    padding: 0 10px;
    border-radius: 10px;
    align-items: center;
    border: 2px solid transparent;
}

#country_code {
    background-color: #fff;
    width: 22%;
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    border-color: transparent;
}

input:focus {
    outline: 2px solid #8cd895;
}

input[type="tel"]:focus {
    outline: none;
}

select option {
    background-color: #f5f5f5;
    border-radius: 10px;

}

select {
    width: fit-content;
}

.phone-selection:focus-within {
    border-color: #8cd895;
}
/* Testimonials */

#testimonials h2 {
    text-align: center;
}

#testimonials p {
    font-size: 14px;
}

.info-user {
    display: flex;
    flex-direction: row;
}

.picture-group {
    padding: 20px;
    display: flex;
    width: fit-content;
    margin: 0;
}

.profile-pic {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #031c3c;
    padding: 10px;
}

.profile-pic p {
    text-align: center;
    color: #fff;
    margin: 5px auto;
}

.profile-pic::before {
    content: "\f058";
    font-family: "FontAwesome";
    font-size: 20px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: #fff;
    color: #1cc286;
    padding: 2px;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 5px;
}

.stars {
    display: flex;
    flex-direction: row;
}

.stars i {
    color: #fec600;
}

.text {
    padding: 0 10px;
}

.text .date {
    font-size: 14px;
    color: #ccc;
}

.text .coment {
    margin-top: 10px;
}

/* Step 4 Section
----------------- */

#step-4 {
    display: none;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
}

#step-4 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#step-4 .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#step-4.section-selected {
    display: flex;
}

/* Register Address Form */

#shipping-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#shipping-address input {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: transparent;
}

#shipping-address select {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: transparent;
}

#shipping-address select:focus {
    outline: 2px solid #8cd895;
}

/* Step 5 Section
----------------- */

#step-5 {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
}

#step-5 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#step-5 .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.billing-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.billing-options .option-billing {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option-billing .fa-circle-check {
    display: none;
}

.option-billing.selected .fa-circle {
    display: none;
}

.option-billing.selected .fa-circle-check {
    display: block;
}

.billing-options .option-billing .description {
    margin-left: 20px;
}

/* Register Address Form (Billing) */

#billing-form {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#billing-form input {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: transparent;
}

#billing-form select {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: transparent;
}

#billing-form select:focus {
    outline: 2px solid #8cd895;
}

#billing-form.section-selected {
    display: flex;
}

/* Step 6 Section
----------------- */

#step-6 {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
}

#step-6 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#step-6 .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* Protection Container */

.protection-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #ccc;
}

.protection-container img {
    width: 15%;
}

.option-protection {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 20px;
}

.protecion-options p {
    text-align: center;
}

.option-protection .fa-circle-check {
    display: none;
}

.option-protection.selected .fa-circle {
    display: none;
}

.option-protection.selected .fa-circle-check {
    display: block;
}

/* Arrow Effect */

.fa-arrow-right {
    font-size: 20px;
    color: #c91f3f;
    animation: moveRight 2s linear infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(0);
    }
}

    @keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(0);
    }
}

.option-protection .fa-arrow-right:nth-child(odd) {
    animation-direction: normal;
}

.option-protection .fa-arrow-right:nth-child(even) {
    animation-direction: reverse;
}

.main-container input {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: transparent;
}

/* Prices */

.final-prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.final-prices .off {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-tax {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-protection {
    display: none;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;

}

.shipping-text {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.warranty-text {
    display: none;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.option-privacy {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 20px;
}

.privacy-options p {
    text-align: left;
}

.option-privacy .fa-circle-check {
    display: none;
}

.option-privacy.selected .fa-circle {
    display: none;
}

.option-privacy.selected .fa-circle-check {
    display: block;
}

#submit-btn {
    background-color: #19a92a;
    cursor: pointer;
    border: 0 solid;
    border-radius: 5px;
    color: #fff;
}

#submit-btn:hover {
    background-color: #159324;
}

/* Submit Section */

.images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.mcafee {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.mcafee img {
    width: 50%;
    margin: 0 auto;
}

.ssl {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
}

.ssl i {
    color: #ffbd03;
}

.guarantee {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.guarantee img {
    width: 30%;
}